<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8' />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<meta name="description" content="DunkPathMaker : A useful tool for RuneScape bot scripters" />

	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="styles/style.css">
	<title>{{ page.title }}</title>
</head>

<body>
	<!-- HEADER -->
	<div id="header_wrap" class="outer">
		<header class="inner">
			<a id="forkme_banner" href="https://github.com/dunnkers/DunkPathMaker">View on GitHub</a>

			<h1 id="project_title">DunkPathMaker</h1>
			<h2 id="project_tagline">A useful tool for RuneScape bot scripters</h2>

			<section id="downloads">
				<a class="jar_download_link" href="DunkPathMaker.jar">Download this project as a .jar file</a>
			</section>
		</header>
	</div>

	<!-- MAIN CONTENT -->
	<div id="main_content_wrap" class="outer">
		<section id="main_content" class="inner">
			<h1>Visit the forums</h1>
			<div class="row">
				<div class="col-lg-4 col-md-offset-4">
					<img src="images/powerbot-logo.png" alt="Bootstrap">
					<h2>Powerbot</h2>
					<p>DunkPathMaker was released on Powerbot on October 20th.</p>
					<p><a class="btn btn-primary btn-lg" disabled="disabled" href="http://powerbot.org/">Visit forum »</a></p>
				</div>
			</div>
			{{ content }}
		</section>
	</div>-->

	<!-- FOOTER  -->
	<div id="footer_wrap" class="outer">
		<footer class="inner">
			<p class="copyright">DunkPathMaker maintained by <a href="https://github.com/dunnkers">dunnkers</a></p></p>
		</footer>
	</div>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-40680192-4");
		pageTracker._trackPageview();
	} catch(err) {}
	</script>
</body>
</html>
